<tr>
  <th *ngFor="let column of headerColumns" (click)="sortBy(column)">
    {{column.value}}
    <span *ngIf="column.direction">&uarr;</span>
    <span *ngIf="!column.direction && column.direction !==undefined">&darr;</span>
  </th>
</tr>
