:host{
  position: fixed;
  width: 15%;
  height: 100%;
  left: 0;
  background: #2f2f2f;
  top: 0;
  color:#fff;
  padding: 0 15px;
  a {
    color: #13c725;
  }
  .closeButton{
    cursor: pointer;
    text-decoration: none;
    float:right;
  }
}
