<h4>Driver Details <a class="closeButton" routerLink="/drivers-list">X</a></h4>
<table>
  <tbody>
  <tr>
    <td>First Name:</td>
    <td>{{selectedDriver.givenName}}</td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td>{{selectedDriver.familyName}}</td>
  </tr>
  <tr>
    <td>Code:</td>
    <td>{{selectedDriver.code}}</td>
  </tr>
  <tr>
    <td>Nationality:</td>
    <td>{{selectedDriver.nationality}}</td>
  </tr>
  <tr>
    <td>Date of birth:</td>
    <td>{{selectedDriver.dateOfBirth | date:'dd/LL/yyyy'}}</td>
  </tr>
  <tr>
    <td>Info Url:</td>
    <td><a href="{{selectedDriver.url}}" target="_blank">{{selectedDriver.getFullName()}}</a></td>
  </tr>
  </tbody>
</table>
