<div class="driverDetails" *ngIf="dataLoaded">
  <router-outlet></router-outlet>
</div>
<div class="listContainer" [ngStyle]="{'width': checkCurrentRoute() ? '100%' : '83%'}">
  <div class="infoContainer">
    Driver Championship Standings {{currentSeason.season}} <app-search-filter *ngIf="dataLoaded" [listOfStandings]="currentSeason.listOfStandings"></app-search-filter>
  </div>
  <app-driver-table *ngIf="dataLoaded" [listOfStandings]="currentSeason.listOfStandings"></app-driver-table>
</div>
<div style="clear: both"></div>
