.listContainer{
  border-radius: 12px 12px 0 0;
  float: right;
  width: 83%;
  .infoContainer{
    background: #e2e2e2;
    padding: 10px 20px;
    border-radius: 12px 12px 0 0;
    position: relative;
  }
}
