table {
  color: #000;
  border-collapse: collapse;
  width: 100%;
  thead {
    tr {
      background: #dedede;
      font-weight: bold;
      th{
        border: 1px solid #b4b4b4;
        padding: 8px 10px;
      }
    }
  }
  tbody {
    tr {
      &.active{
        background: #13c725!important;
      }
      &:nth-child(odd) {
        background: #ffffff;
      }
      &:nth-child(even) {
        background: #dedede;
      }
      td{
        border: 1px solid #b4b4b4;
        padding: 8px 10px;
      }
    }
  }
}

