<table>
  <thead>
   <app-sortable-header [headerColumns]="columns"  [rows]="listOfStandings"></app-sortable-header>
  </thead>
  <tbody>
  <tr *ngFor="let seasonStanding of listOfStandings; let i = index" routerLinkActive="active">
    <td>{{i+1}}</td>
    <td> <a routerLink="/drivers-list/{{seasonStanding.driver.driverId}}" >{{seasonStanding.driverFullName}}</a></td>
    <td>{{seasonStanding.firstConstructorName}}</td>
    <td>{{seasonStanding.wins}}</td>
  </tr>
  <tr>
    <td colspan="4" *ngIf="listOfStandings.length === 0" style="text-align: center">
        No data to display
    </td>
  </tr>
  </tbody>
</table>
